:root{
   
    --basic-background: #F1F5F7;
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-grey: #3D546F;
    --basic-greylight: #C5C5C5;
    --white: #FFFFFF;
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;
    --success: #5FBB2D;
    --warning: #FFBF47;
    --error: #BA2732;
    --greylight-gradient: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
    --black: #000000;
    --basic-grey-color: #32425C;
    --basic-vanilla:#F9F5F0;
    --grey: #A9A9A9;
    --white-opacity: rgba(225, 225, 225, 0.5);
    --special-grey: #EAEAEA;
    --basic-greydark:#293449;
    --special-yellowgrey:#F7F3EC;
    --greendark:#518534;
    --special-green: #367315;
    --special-red: #CA2C37;
    --special-greydark: #1D2739;
    
    
}

 .page {
   height: 100%;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color:#000000;
  background-color: var(--white);
  min-height: 100%;
  /*display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;*/
}

 a {
   text-decoration: none;
}

  li {
   list-style: none;
}

  img {
   max-width: 100%;
   height: auto;
}

 .main-header {
   /*display: grid;
   gap: 20px;
   margin-left: auto;
   margin-right: auto;
   grid-template-columns: 300px 300px 300px;
   grid-template-rows: 42px 178px 60px 60px;*/
   background-color: var(--basic-background);
   min-height: 42px;
   /*outline: 5px solid rgba(0, 255, 0, 0.7);
   outline-offset: -5px;*/
}

 .header-navigation {
   /*display: grid;
   grid-template-columns: 220px 1fr 100px 100px 150px;
   grid-column-start: 1;
   grid-column-end: -1;*/
   background-color: var(--basic-greydark);
   /*outline: 5px solid rgba(255, 0, 191, 0.7);
   outline-offset: -5px;*/
}

  .buy-navigation {
   /*display: grid;
   grid-template-columns: 1fr 100px 100px 150px;
   grid-column-start: 2;
   grid-column-end: -1;*/
   font-size: 18px;
   line-height: 24px;
} 

 
 .main-header-logo {
   display: inline-block;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 12px;
   width: 220px;
   height: 23px;
   background-color: #EE3643;
   box-shadow: 0 5px 0 0 #BA2732;
   /* outline: 5px solid gold;
   outline-offset: -5px;*/
}

 .grey-navigation {
   /*display: grid;
   column-gap: 10px;
   grid-column-start:1;
   grid-column-end: -1;
   grid-template-columns: 197px 1fr 121px 150px;
   margin-left: 30px;*/
   background-color: #F1F5F7;
   /*outline: 5px solid rgba(204, 0, 255, 0.7);
   outline-offset: -5px;*/
}
  
 .site-navigation {
  /* display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   column-gap: 56px;
   grid-column-start: 1;
   grid-column-end: -1;
   padding-right: 53px;*/
   min-height: 55px;
   font-size: 18px;
   line-height: 24px;
   background-color: #32425C;
   box-shadow: 0 5px 0 0 #293449; 
}

 .site-navigation li:focus {
   background-color: #32425C;
   box-shadow: 0 5px 0 0 #293449;
} 

 .site-navigation li:hover {
   background-color: #293449;
   box-shadow: 0 5px 0 0 #293449;
} 

 .site-navigation li:active {
   background-color: #1D2739;
   box-shadow: 0 5px 0 0 #293449;
   opacity: 50%;
}



h1 {
   font-family:"Cuprum", Arial, sans-serif;
   color: #EE3643;
   font-size: 16px;
   line-height: 23px;
   font-weight: 400px;
   font-style: italic;
  /* outline: 5px solid rgba(204, 0, 255, 0.7);
   outline-offset: -5px;*/

}

 .buy-navigation li{
   text-align: center;
}



 .green {
   display: inline-block;
   text-align: center;
   width: 150px;
   background-color:#63A63E;
}
 
 .site-navigation a,
 .buy-navigation a {
   color:#FFFFFF;
}

 .site-navigation li {
   display: inline-block;
   text-align: center;
   padding-top: 16px;
}

 .header-contacts {
   text-align: center;
   outline: 5px solid rgba(204, 0, 255, 0.7);
   outline-offset: -5px;
}

 .header-phone {
   display: inline-block;
   color: #EE3643;
   font-style: normal;
   font-weight: bold;
   font-size: 21px;
   line-height: 30px;
   text-align: center;
   padding-top: 7px;
   width: 264px;
   height: 32px;
   border: 3px solid #FFFFFF;
 }

 .buy-navigation img {
   opacity: 30%;
}

 .header-adress {
   font-size: 14px;
   line-height: 24px;
   font-weight: 400px;
   color:#32425C;
}

 .login-link {
   display: inline-block;
   text-align: center;
   padding-top: 12px;
   font-style: normal;
   font-size: 21px;
   line-height: 21px;
   font-weight: 400px;
   width: 121px;
   height: 33px;
   color:#000000;
   background-color: var(--white);
   /*outline: 5px solid rgba(204, 0, 255, 0.7);
   outline-offset: -5px;*/
} 

 .register-link {
   display: inline-block;
   text-align: center;
   padding-top: 12px;
   font-style: normal;
   font-size: 21px;
   line-height: 21px;
   font-weight: 400px;
   width: 150px;
   height: 33px;
   color:#000000;
   background-color: var(--white);
   /*outline: 5px solid rgba(204, 0, 255, 0.7);
   outline-offset: -5px;*/
}

.user-field a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400px;
  color:#32425C;
}

    
 .gallery-content figcaption{
   font-family: "Cuprum", Arial, sans-serif ;
   font-size: 36px;
   line-height: 36px;
   font-weight: bold;
   text-transform: uppercase;
   color: #000000; 
} 

 .gallery-content p{
   font-size: 18px;
   line-height: 24px;
}

 .button-one:focus {
   background-color: #EE3643;
}

 .button-one:hover {
   background-color: #CA2C37;
}

 .button-one:active {
   background-color: #BA2732;
}

 .block1 {
   float: right;
   margin-right: 14px;
}
    
 .features figcaption{
   text-transform: uppercase;
   font-size: 36px;
   line-height: 36px;
   font-weight: lighter;
   color: #000000;
}

 .features p {
   font-family: "Cuprum", Arial, sans-serif ;
   font-size: 18px;
   line-height: 24px;
   font-weight: lighter;
   color:#000000;
}

 .feature-item {
   font-size: 24px;
   line-height: 30px;
   color:var(--white);
   width: 300px;
   height: 123px;

}

 .feature-button {
   display: inline-block;
   text-align: center;
   padding-top: 10px;
   font-size: 14px;
   line-height: 18px;
   width: 135px;
   height: 28px;
   color:var(--white);
   text-transform: uppercase;
   background-color:rgba(225, 225, 225, 0.3);
}

 .feature-button:focus {
   color:var(--white);
   background-color:rgba(225, 225, 225, 0.3);
}

 .feature-button:hover {
   color:var(--white); 
   background-color:rgba(197, 197, 197, 0.3);
}

 .feature-button:active {
   color:var(--white);
   background-color: rgba(169, 169, 169, 0.3);
}


 .yellow{
   background-color: var(--special-yellow);
}

 .blue {
   background-color: var(--special-blue);
}

 .lilac {
   background-color: var(--special-lilac);
  }

 .greenlight {
   background-color: var(--special-greenlight);
}

 .catalog h2,
 .partners h2 {
  height: 60px;
  padding-top: 29px;
  padding-left: 28px;
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: lighter;
  color:#32425C;
  background-color: var(--basic-vanilla);
}

 .partners {
   width: 940px;  
   min-height: 419px;
}

 .partner {
   /*display: grid; 
   margin: 0;
   padding: 0;
   grid-template-columns: 1fr 1fr 1fr 1fr; 
   grid-template-rows: 1fr 1fr;
   gap: 20px;*/ 
   width: 940px;

}

 .partners li {
   width: 218px;
   min-height: 143px;
   border: 1px solid #EAEAEA;
   text-align: center;
   background-color: var(--white);
}

  .partners li:focus {
    background-color: var(--white);
}

  .partners li:hover {
    background-color: var(--white);
    box-shadow:0px 4px 20px 0 #000000;
}

  .partners li:active{
    background-color: var(--white);
    opacity: 50%;
    box-shadow:0px 4px 20px 0 #000000;
}


  .button {
    display:inline-block;
    width: 192px;
    height: 28px;
    text-align: center;
    font-family: "Cuprum", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    font-weight: lighter;
    padding-top: 10px;
    color:#FFFFFF   ;
    background-color: var(--basic-red);
}

  h3 {
   font-family: "PT Sans", Arial, sans-serif;
   font-style: normal;
   font-size: 18px;
   line-height: 20px;
   font-weight: bold;
   color: #FFFFFF;
}

 .catalog-item {
   display: inline-block;
   vertical-align: top;
   margin-right: 20px;
   margin-bottom: 20px;
   text-align: center;
   width: 220px;
   height: 318px;
   border: 1px solid #EAEAEA;
   background-color: var(--white);
}

 .catalog-item img {
   width: 144px;
   height:128px;
}

 .catalog-item:hover {
   background-color: var(--white);
  box-shadow:0 4px 20px 0 #000000;
}

  .choose-button {
    border:none;
    width: 135px;
    height: 38px;
    background-color: var(--white);
}

  .choose-button-buy {
    background-color: #63A63E;
    box-shadow: 0 3px 0 0 #367315;
}

  .choose-button-buy img {
    width: 15px;
    height: 15px;
}

 .choose-button-buy:focus {
   background-color: #63A63E; 
 }

 .choose-button-buy:hover {
   background-color: #5FBB2D; 
}

  .choose-button-buy:active {
    background-color: #518534; 
}


  .choose-button-bookmarks {
    color:#32425C;
    background-color: #FFFFFF;
    border: 3px solid  #63A63E;
}

   .choose-button-bookmarks:focus {
     border:3px solid #63A63E;
}

 .choose-button-bookmarks:hover {
   border:3px solid #32425C;
}

 .choose-button-bookmarks:active {
   border:3px solid #A9A9A9;
   color: #A9A9A9;
}

 .item {
   font-family: "PT Sans", Arial, sans-serif;
   font-style: normal;
   font-size: 17px;
   line-height: 18px;
   font-weight: bold;
   width: 141px;
   height: 38px;
}

 .price-old{
   text-decoration: line-through;
   color:var(--grey);
}

 .price-new {
   color:white;
   background-color: var(--basic-red);
}

 .service p,
 .more-service p,
 .modal-map p {
   font-family: "PT Sans", Arial, sans-serif;
   font-style: normal;
   font-size: 13px;
   line-height: 24px;
   font-weight: lighter;
}

 .about {
   height: 261px;
   background-color: var(--basic-background);
}

 .about p {
   font-family: "PT Sans", Arial, sans-serif;
   font-size: 13px;
   line-height: 24px;
   font-weight: lighter;
}

 .service h2,
 .more-service h2,
 .modal-map h2,
 .about h2 {
   font-family: "Cuprum", Arial, sans-serif;
   text-transform: uppercase;
   font-size: 30px;
   line-height: 30px;
   font-weight: lighter;
   color:#000000;
}

 .more {
   width: 220px;
   height: 27px;
}

 .write {
   width: 300px;
   height: 27px;
}

 .modal-form {
   width: 620px ;
   height: 430px;
   font-family: "Cuprum", Arial, sans-serif ;
   font-size: 18px;
   line-height: 24px;
   border-top: 7px solid  #EE3643;
   background-color: var(--white);
}

 .modal-form input,
 .modal-form textarea {
   font-family: "PT Sans", Arial, sans-serif;
   font-size: 13px;
   line-height: 24px;
   color: #A9A9A9;
   border:2px solid #C5C5C5;
}

 .modal-close {
   border: none;
   background-color: var(--white);
}

 .send {
   height: 112px;
   background-color: #F1F1F1;
}

 .button-send {
   display: inline-block;
   font-family: "Cuprum", Arial, sans-serif ;
   font-size: 14px;
   line-height: 18px;
   text-transform: uppercase;
   text-align: center;
   width: 460px;
   height: 38px;
   background-color: #EE3643;
   color:#FFFFFF; 
 }

 .more-service ul {
   font-family: "Cuprum", Arial, sans-serif ;
   font-size: 18px;
    line-height: 24px;
}

 .service {
   background-color: var(--basic-background);
   height: 522px;
}

 .service figcaption {
   text-transform: uppercase;
   font-size: 30px;
   line-height: 30px;
   font-weight: lighter;
   color: #000000; 
}

 .main-footer {
   font-family: "Cuprum", Arial, sans-serif ;
   font-size: 18px;
   line-height: 24px;
   font-weight: lighter;
   color:#F1F5F7;
   background-color: var(--basic-grey-color);
   /*outline: 5px solid rgba(255, 0, 0, 0.7);
   outline-offset: -5px;*/
}

 .footer-logo {
   display: inline-block;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;
   width: 220px;
   background-color: #EE3643;
   box-shadow: 0 5px 0 0 #BA2732;
   /*outline: 5px solid rgba(145, 255, 0, 0.7);
   outline-offset: -5px;*/
}

 .footer-navigation1 a {
   color:#F1F5F7; 
}

 .footer-navigation2 a {
   color: #FFD180;
}

 .footer-navigation3 {
   font-size: 16px;
   line-height: 18px;
   font-weight: lighter;
   color:#F1F5F7;
   background-color: var(--basic-greydark);
}

 .footer-navigation3 a {
   color: #FFD180;
} 

  .breadcrumbs a {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
} 

  .arrow-button{
    border: none;
    width: 50px;
    padding-top: 2px;
    background-color: #F7F3EC; 
}

 .perforators {
   font-family: "Cuprum", Arial, sans-serif;
   text-transform: uppercase;
   font-size: 30px;
   line-height: 30px;
   font-weight:400;
   font-style: normal;
   color:#32425C;
   background-color: var(--basic-background); 
}

 .sorting {
   background-color: var(--special-yellowgrey);
}

 .sorting-more a,h2 {
   font-family: "PT Sans", Arial, sans-serif;
   font-size: 13px;
   line-height: 18px;
   font-weight: 400;
   color: #000000;
   text-transform: uppercase;
}

 .filtr {
   width: 220px;
   height: 25px;
   padding-top: 10px;
   padding-left: 18px;
   font-family: "PT Sans", Arial, sans-serif;
   font-size: 13px;
   line-height: 18px;
   font-weight: 400;
   color: #000000;
   text-transform: uppercase;
   background-color: var(--special-yellowgrey);
}

 .filtergroups{
   font-family: "PT Sans", Arial, sans-serif;
   text-transform: uppercase;
   display: block;
   width: 220px;
   height: 640px;
}

 span {
   display: inline-block;
   padding-top: 10px;
   width: 95px;
   height: 28px;
   font-size: 17px;
   line-height: 18px;
}

  .box {
    background-color:#F7F3EC;
}

 .zero { 
   width: 30px;
   height: 18px;
   background-color:#FFFFFF;
}

  .price-range {
    text-align: center;
}

  .range {
    display:inline-block;
    width: 220px;
    height:80px;
    text-align: center;
    background-color:#F7F3EC;
}

  .filtergroups fieldset {
    border:none;
    border-bottom: 1px solid #E5E5E5;
} 

 .filtergroups legend {
   font-size: 17px;
   line-height: 30px;
   font-weight: 700;
   color: #000000;
}

 .filter-option {
   font-size: 15px;
   line-height: 19px; 
   color: #000000;
}

 .filter-button {
   font-family: "PT Sans", Arial, sans-serif;
   text-transform: uppercase;
   font-size: 13px;
   line-height: 18px; 
   padding-bottom: 10px;
   width: 220px;
   height: 42px;
   border: none;
   border: 1px solid #E5E5E5;
   color: #000000;
   background-color: #FFFFFF;
}

 .added {
   width: 620px;
   height: 282px;
   font-family: "Cuprum", Arial, sans-serif ;
   font-size: 24px;
   line-height: 30px;
   font-weight: bold;
   color:#000000;
   border-top: 7px solid  #EE3643;
   background-color: #FFFFFF;
}

 .add-action {
   height: 112px;
   font-size: 14px;
   line-height: 18px;
   text-transform: uppercase;
   background-color: #F1F1F1;
}

 .place-an-order{
   display: inline-block;
   padding-top: 11px;
   text-align: center;
   width: 192px;
   height: 27px;
   background-color: #EE3643;
   color:#FFFFFF; 
}

 .continue-shopping{
   display: inline-block;
   padding-top: 11px;
   text-align: center;
   width: 192px;
   height: 27px;
   color:#000000;
   background-color: #FFFFFF;
  
}













  

  




 
 

